{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "Microsoft.Hosting.Lifetime": "Information",
        "IdentityServer4": "Warning"
      }
    },
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "Path": "{{ dofus_market_api_log_file }}",
          "Formatter": "Serilog.Formatting.Compact.RenderedCompactJsonFormatter, Serilog.Formatting.Compact",
          "Buffered": true,
          "FlushToDiskInterval": "00:00:15"
        }
      }
    ]
  },
  "DofusMarket": {
    "Authentication": {
      "Username": "{{ dofus_market_api_auth_user }}",
      "Password": "{{ dofus_market_api_auth_password }}"
    }
  },
  "Urls": "http://localhost:{{ dofus_market_api_port }}",
  "ConnectionStrings": {
    "DofusMarket": "Host=localhost;Database={{ dofus_market_db }};Username={{ dofus_market_api_db_user }};Password={{ dofus_market_api_db_user_password }};Application Name={{ dofus_market_api_service_name }}"
  }
}
