{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Debug",
      "Override": {
        "Microsoft": "Warning",
        "Microsoft.Hosting.Lifetime": "Information"
      }
    },
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "Path": "{{ dofus_market_bot_log_file }}",
          "Formatter": "Serilog.Formatting.Compact.RenderedCompactJsonFormatter, Serilog.Formatting.Compact",
          "Buffered": true,
          "FlushToDiskInterval": "00:00:15"
        }
      }
    ]
  },
  "DofusMarket": {
    "Accounts": [
      {
        "AccountName": "{{ dofus_account1_name }}",
        "Password": "{{ dofus_account1_password }}",
        "CertificateId": "{{ dofus_account1_certificate_id }}",
        "CertificateHash": "{{ dofus_account1_certificate_hash }}",
        "Characters": [
          {
            "ServerId": 36, // Agride
            "CharacterName": "Dofs-Market"
          },
          {
            "ServerId": 50, // Ombre
            "CharacterName": "Dofs-Market"
          },
          {
            "ServerId": 205, // Meriana
            "CharacterName": "Dofu-Market"
          },
          {
            "ServerId": 207, // Ush
            "CharacterName": "Dofs-Market"
          },
          {
            "ServerId": 208, // Julith
            "CharacterName": "Dofs-Market"
          },
          {
            "ServerId": 210, // Merkator
            "CharacterName": "Dofu-market"
          }
        ],
      },
      {
        "AccountName": "{{ dofus_account2_name }}",
        "Password": "{{ dofus_account2_password }}",
        "CertificateId": "{{ dofus_account2_certificate_id }}",
        "CertificateHash": "{{ dofus_account2_certificate_hash }}",
        "Characters": [
          {
            "ServerId": 206, // Pandore
            "CharacterName": "Dofs-Market"
          },
          {
            "ServerId": 209, // Nidas
            "CharacterName": "Dofs-Market"
          },
          {
            "ServerId": 211, // Furye
            "CharacterName": "Dofs-Market"
          },
          {
            "ServerId": 212, // Brumen
            "CharacterName": "Dofs-Market"
          }
        ]
      }
    ],
    "Api": {
      "Host": "https://api.{{ dofus_market_domain_name }}",
      "Username": "{{ dofus_market_api_auth_user }}",
      "Password": "{{ dofus_market_api_auth_password }}"
    }
  }
}
