[Unit]
Description=Dofus Market Bot

[Service]
WorkingDirectory={{ dofus_market_bot_path }}
ExecStart=/usr/bin/dotnet {{ dofus_market_bot_path }}/DofusMarket.dll
Restart=always
RestartSec=60
KillSignal=SIGINT
User={{ dofus_market_bot_user }}
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=CORECLR_ENABLE_PROFILING=1
Environment=CORECLR_PROFILER={846F5F1C-F9AE-4B07-969E-05C26BC060D8}
Environment=CORECLR_PROFILER_PATH=/opt/datadog/Datadog.Trace.ClrProfiler.Native.so
Environment=DD_INTEGRATIONS=/opt/datadog/integrations.json
Environment=DD_DOTNET_TRACER_HOME=/opt/datadog
Environment=DD_SERVICE={{ dofus_market_bot_service_name }}
Environment=DD_LOGS_INJECTION=true

[Install]
WantedBy=multi-user.target
